:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent2-color: #ffffff;
  --header-background: #ffffff;
  --footer-background: #2f303a;
  --body-background: #f5f5f5;
  --section4-background: #f5f4fa;
  --sectionhero-color: #ffffff;
  --section1-title-color: #ffffff;
  --section1-background: #2f303a;
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --logo3-color: #ffffff;
  --footercontact-color: rgba(255, 255, 255, 0.6);
  --activ-accent-color: #188ce8;
  /* activ background: #188ce8;
  background: #2196F3;*/
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
}

/*-----------------common list---------------*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*-----------------page-header----------------*/
.header-navigation {
  background: var(--header-background-color);
}

.header-navigation-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}
.logo-black {
  color: var(--logo2-color);
}
.header-list .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}
/*-----------------page-footer---------------*/
.footer {
  background: var(--footer-background);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}
.footer-addres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
  text-decoration: none;
}
.footer-addres:hover,
.footer-addres:focus {
  color: var(--accent-color);
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footercontact-color);
  text-decoration: none;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footercontact-color);
  text-decoration: none;
}
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

.logo-wight {
  color: var(--logo3-color);
}
/*-----------------page-1--------------------*/
.header-list .link.current {
  color: var(--accent-color);
}
/*-----------------page-main-----------------*/
.mane {
  background: var(--body-background);
}
/*-----------------section-hero--------------*/
.hero {
  background: var(--section1-background);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--section1-title-color);
}
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--section1-title-color);
  background: var(--activ-accent-color);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--accent2-color);
  background: var(--accent-color);
}

/*-----------------section-feature-----------*/
.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*-----------------section-activities--------*/

.activities-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*-----------------section-workers-----------*/
.worker {
  background: var(--section4-background);
}
.worker .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.worker-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.worker-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-----------------page-2--------------------*/
/*------------------work link button------------------------*/
.section-list .link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
}
.section-list .link:hover,
.section-list .link:focus {
  background: var(--accent-color);
  color: var(--title-text-color);
}
/*-----------------Links to work-------------*/
.section-list .title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.section-list .text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/*-----------------work----------------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
