body {
  background: #ffffff;
  font-family: "Raleway";
  color: #212121;
  font-family: "Roboto", sans-serif;
  color: #757575;
}

/*-----------------common list---------------*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*-----------------page-header----------------*/
.header-navigation-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-black {
  color: #000000;
}
.header-list .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-list .link:hover,
.header-list .link:focus {
  color: #ffffff;
  background: #2196f3;
}
.header-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-mail:hover,
.header-mail:focus {
  color: #ffffff;
  background: #2196f3;
}
.header-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-phone:hover,
.header-phone:focus {
  color: #ffffff;
  background: #2196f3;
}
/*-----------------page-footer---------------*/
.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-addres:hover,
.footer-addres:focus {
  color: #ffffff;
  background: #2196f3;
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: #ffffff;
  background: #2196f3;
}

.footer-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-phone:hover,
.footer-phone:focus {
  color: #ffffff;
  background: #2196f3;
}

.logo-wight {
  color: #ffffff;
}
.footer {
  background: #2f303a;
}
/*-----------------page-1--------------------*/
/*-----------------page-main-----------------*/
/*-----------------section-hero--------------*/
.hero {
  background: #2f303a;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero .button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background: #2196f3;
}

/*-----------------section-feature-----------*/
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-----------------section-activities--------*/

.activities-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*-----------------section-workers-----------*/
.worker {
  background: #f5f4fa;
}
.worker-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.worker-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-----------------page-2--------------------*/
/*-----------------Header--------------------*/
.body-title {
  color: #ffffff;
}
/*-----------------page-main-----------------*/
/*------------------work link button------------------------*/
.body-list .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
}
.body-list .link:hover,
.body-list .link:focus {
  background: #2196f3;
  color: #ffffff;
}
/*-----------------Links to work-------------*/
.work-list .title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work-list .text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
/*-----------------work----------------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* text title #212121*/
/*text background: #757575;*/
/*background: linear-gradient(0deg, #2196F3, #2196F3),
linear-gradient(0deg, #FFFFFF, #FFFFFF);*/
/*background: #FFFFFF99;background: rgba(255, 255, 255, 0.6);*/
